
mods/Cobblemon-fabric-1.5.2+1.20.1.jar
/.fabric/processedMods
/journeymap
/showdown
/logs
/.mixin.out
/.fabric/remappedJars
/data
irisUpdateInfo.json
minecraftinstance.json
minecraftinstance.json
/saves
/modernfix
minecraftinstance.json
emi.json
minecraftinstance.json
options.txt
usercache.json
usernamecache.json
options.txt
usercache.json
/immersive_paintings_cache
/immersive_paintings
